<!doctype html>

<html ng-app="app">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootsrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="index.js"></script>
</head>

<body>
<div class="container" ng-controller="indexControllerProd">
<p></p>
    <h3>Поиск</h3>
    <form novalidate ng-submit="loadProducts()">
        <div class="form-floating input-group-sm">
            <input type="text" class="form-control" id="filterTitle" placeholder="" ng-model="filter.part_title">
            <label for="filterTitle">Название товара</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <input type="number" class="form-control" id="filterMinCost" placeholder="" ng-model="filter.min_cost">
            <label for="filterMinCost">Минимальная цена</label>
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <input type="number" class="form-control" id="filterMaxCost" placeholder="" ng-model="filter.max_cost">
            <label for="filterTitle">Максимальна цена</label>
        </div>
        <p></p>
        <button class="btn btn-outline-warning btn-sm" style="width: 100%;" type="submit">Искать</button>
        <button class="btn btn-danger btn-sm" style="width: 100%;" ng-click="loadProducts()">Сбросить</button>
    </form>

    <h3>Список продуктов</h3>
    <table class="table table-hover">
        <tr>
            <td>ID</td>
            <td>Название продукта</td>
            <td>Цена, руб.</td>
            <td>Действия</td>
        </tr>
        <tbody>
        <tr ng-repeat="p in ProductList">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td>{{p.cost}}</td>
            <td>
                <button class="btn btn-danger" ng-click="deleteProduct(p.id)">Удалить</button>
                <button class="btn btn-info" ng-click="showInfo(p.id)">Информация</button>
            </td>
        </tr>
        </tbody>
    </table>

    <p></p>
    <h3>Добавить продукт</h3>
    <form novalidate ng-submit="createProduct()">
        <input class="form-control" type="text" placeholder="Название" ng-model="newProduct.title">
        <p></p>
        <input class="form-control" type="number" placeholder="Цена" ng-model="newProduct.cost">
        <p></p>
        <button type="submit" class="btn btn-outline-success">Добавить товар</button>
    </form>

    <p></p>
    <p></p>
<!--    <h3>Фильтр по цене</h3>-->
<!--    <form novalidate ng-submit="findProductByPriceBetween()">-->
<!--        <input class="form-control" type="number" placeholder="Минимальная цена" ng-model="filterPrice.minPrice">-->
<!--        <p></p>-->
<!--        <input class="form-control" type="number" placeholder="Максимальная цена" ng-model="filterPrice.maxPrice">-->
<!--        <p></p>-->
<!--        <button type="submit" class="btn btn-outline-success">Фильтровать</button> <button class="btn btn-danger" ng-click="showProducts()">Сбросить</button>-->
<!--    </form>-->
</div>

</body>
</html>